/* COLORS */

:root {
  --dfa-yellow: #FCF539;
  --dfa-pink: #F6539E;
  --dfa-green: #B5E100;
  --dfa-blue: #1082D7;
  --dfa-dark-yellow: #C08A00;
  --dfa-dark-pink: #AA195C;
  --dfa-dark-green: #5D7400;
  --dfa-dark-blue: #1B3862;
  --dfa-light-yellow: #FFFB98;
  --dfa-light-pink: #FFADD3;
  --dfa-light-green: #E4FF75;
  --dfa-light-blue: #B4DFFF;
}

.bg-yellow {
  background-color: var(--dfa-yellow);
}

.bg-pink {
  background-color: var(--dfa-pink);
}

.bg-green {
  background-color: var(--dfa-green);
}

.bg-blue {
  background-color: var(--dfa-blue);
}

.text-dark-yellow {
  color: var(--dfa-dark-yellow) !important;
}

.text-dark-pink {
  color: var(--dfa-dark-pink) !important;
}

.text-dark-green {
  color: var(--dfa-dark-green)!important;
}

.text-dark-blue {
  color: var(--dfa-dark-blue) !important;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
}

a:hover {
  text-decoration: underline !important;
}


/* Carousel */

.carousel-caption {
  padding: 1rem;
  font-size: 0.9em;
  text-align: left;
}

.carousel-caption-1 {
  position: absolute;
  top: auto;
  bottom: 4rem;
  left: auto;
  right: 8rem;
  width: 13rem;
  height: 8rem;
  background-color: var(--dfa-dark-blue);
  z-index: 10;

  color: var(--dfa-light-blue);

  box-shadow: 10px 10px 0 0px var(--dfa-blue);
}

.carousel-caption-2 {
  position: absolute;
  top: 2rem;
  bottom: auto;
  left: 9rem;
  right: auto;
  width: 13rem;
  height: 8rem;
  background-color: var(--dfa-light-pink);
  z-index: 10;

  color: var(--dfa-dark-pink);

  box-shadow: 10px 10px 0 0px var(--dfa-pink);
}

.carousel-caption-3 {
  position: absolute;
  top: auto;
  bottom: 4rem;
  left: 8rem;
  right: auto;
  width: 13rem;
  height: 8rem;
  background-color: var(--dfa-dark-green);
  z-index: 10;

  color: var(--dfa-light-green);

  box-shadow: 10px 10px 0 0px var(--dfa-green);
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
  object-fit: cover;
}

/* Content styles */

.intro b {
  font-weight: 600;
}

